@model IEnumerable<MappingProject.Models.AspNetUserLogin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="/ManagerDashboard/DriverRegister">Driver Register</a>