<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />



    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/Homepage/assets/css/main.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
