@model IEnumerable<MappingProject.Models.AspNetVehicleLocationTable>
@{
    ViewBag.Title = "UpdateValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">


   var readings =
    {
        vehicleid: '',
        longitude: '',
        latitude: '',
        EngineRPM:'',
        Speed:'',
        FuelPressure:'',
        Throttle_Pos:'',
        FuelType:'',
        Fuel_Rail_Pressure:'',
        TimeStamp:''
    };




   $(document).ready(function () {


       //
        //saveValues.onclick = function () {

       $("#saveValues").click(function (){
            readingval = Object.create(readings);
            readingval.latitude = $("#latitudeValue").val();
            readingval.longitude = $("#longitudeValue").val();
            readingval.vehicleid= @ViewBag.VehicleID;

           console.log("reading get",readingval);


           reading = JSON.stringify({ 'reading': readingval });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/AspNetVehicleLocationTables/UpdateDB',
                data: reading,
                success: function () {
                    $('#partial').html('Attendance Successfully Save');
                },
                failure: function (response) {
                    $('#partial').html('Something went wrong');
                }
            });
        });





   });








</script>

<h2>UpdateValues</h2>
<table align="center" style="table-layout:auto" class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <td>Latitude:</td>
            <td>Longitude:</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="latitudeValue" /></td>
            <td><input type="text" id="longitudeValue" /></td>
        </tr>
    </tbody>
</table>
<input type="button" id="saveValues" value="Save" />