@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>LeemuTech</h3>

<p>LeemuTech is an IT company providing best software and web solutions<br />
Contact us : +923214518884/+9232348028659/ +923214518883</p>