@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>LeemuTech</h3>

<address>
    3 Fane Road, Mall Road<br />
    Lahore-54000<br />
    <abbr title="Phone">Phone:</abbr>
    +923214518884
</address>



    <address>
        <strong>Site:</strong>   <a href="www.LeemuTech.com">LeemuTech.com</a><br />
    </address>
