@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="jumbotron" style="background-color:black">
        <h1>LeemuTech Mapping Application</h1>
        <p class="lead">Download LeemuTech Mapping App for free and immediately locate your Vehicle from anywhere..</p>
        <p><a href="#" class="btn btn-primary btn-lg">Lets Download it...</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>LeemuTech Mapping App transforms your smartphone into a satellite tracker that allows you to locate your car, motorbike, bike and all your vehicles.</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Stay Save</h2>
            <p>With LeemuTech Mapping APP you can feel assured that you will be able to locate your car at all times, even if it is stolen.</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>What do I need?</h2>
            <p>The system does not require special equipment and time-consuming installation in your car. Just an ordinary mobile phone with Google Android with a downloaded application and allowing the account to read data about your car.</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</body>
