@{
    ViewBag.Title = "Home Page";

}
<style>
    .src-image {
        display: none;
    }
    body {
        padding-top:10px;
        padding-bottom:0px;
        background-image:url(../Images/car.jpg);
        background-repeat:no-repeat;
        background-size:cover;

        
    }


    .gly_user {
        font-size:120px;
        color:indianred;
    }
    .para_main {
            font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: indianred;
    padding: 5px;
    margin-bottom: 60px;
    margin-top: 20px;
    }
    .head_dma {
         font-size:36px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:700;
        color:indianred;
    }
    .footer_para {
         text-align:center;
         background-color:indianred;
         color:white;
         padding-top:8px;
         padding-bottom:8px;
    }
</style>
<div class="container">
   <div class="row">
       <div class="col-md-12">
           <div class="para_main text-center">
               Welcome to Wheels-Trackers
           </div>
       </div>
   </div>
    <div class="row">
        <a href="@Url.Action("Login", "Account")">
            <div  class="col-md-4">
               <div class="main_blk thumbnail">
                   <div class=""><img src="~/Images/driver-1149997_640.jpg"  class="img-responsive"/></div>
                   <div class="text-center head_dma">Driver</div>
               </div>
            </div>
        </a>
        <a href="@Url.Action("Login", "Account")">
            <div class="col-md-4 ">
                <div class="main_blk thumbnail">
                    <div class=""><img src="~/Images/Managerr.jpg" alt="imgae here" class="img-responsive" /></div>
                    <div class="text-center head_dma">Manager</div>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Login", "Account")">
            <div class="col-md-4 ">
                <div class="main_blk thumbnail">
                    <div class=""><img src="~/Images/Organize.jpg" alt="imgae here" class="img-responsive" /></div>
                    <div class="text-center head_dma">Adminstrator</div>
                </div>
            </div>
        </a>

   
    </div>
</div>

    <div class="row" style="padding-top:157px;">
        <footer>
            <div class="footer_para">
               &copy; @DateTime.Now.Year - Wheels-Trackers

            </div>
        </footer>
    </div>